---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greenting.jsx';

const pageTitle = 'Home Page';
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My awsome blog subtitle</h2>
  <Greeting messages={['Hello', 'Hi', 'Hey']} />
  <Greeting client:load messages={['Hello', 'Hi', 'Hey']} />
</BaseLayout>